/Data
/Messungen
Bilder
/Datacrop/
/Datacrop/Datacrop/0.png
/Datacrop/Datacrop/1.png
/Datacrop/Datacrop/2.png
/Datacrop/Datacrop/3.png
/Datacrop/Datacrop/4.png
/Datacrop/Datacrop/5.png
/Datacrop/Datacrop/6.png
/Datacrop/Datacrop/7.png
/Datacrop/Datacrop/8.png

